body {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 98vh;
  background-color: #f1f5f9;
  font-size: x-large;
}
.container {
  border: transparent;
  border-radius: 20px;
  opacity: 100px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 2%;
  height: max-content;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: rgb(255, 255, 255);
  background-color: #0f172a;
  box-shadow: 1px 1px 5px black;
}
.NameSect,
.dateSect {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
input {
  width: 100%;
  padding: 12px 15px;
  font-size: 16px;
  outline: none;
  border-radius: 8px;
  border: none;
  background-color: #f8fafc;
}
input:focus {
  border-color: #22c55e;
  box-shadow: 0 0 0 3px rgb(34, 197, 94, 0.15);
}
button {
  width: 100%;
  margin-top: 10%;
  padding: 13px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  background-color: #3b82f6;
  color: #ffffff;
  border: transparent;
  transition: all 0.3s ease-in-out;
}
button:hover {
  background-color: #2563c7;
}
button:active {
  transform: scale(0.99);
}
label {
  font-size: 16px;
  font-weight: bold;
  font-family: "Outfit", sans-serif;
}
h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  font-family: "Outfit", sans-serif;
}

#display {
  width: 100%;
  text-align: left;
  border-radius: 5px;
  padding: 3px;
  font-size: 18px;
  text-align: center;
  font-family: "Outfit", sans-serif;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  background-color: #3b82f6;
  transition: all 0.5s;
  margin: 0px;
}
#display.show {
  max-height: 150px;
  opacity: 1;
}
@media (max-width: 650px) {
  input {
    width: 80%;
  }
  h1 {
    font-size: 24px;
  }
  #display.show {
    max-height: 200px;
  }
}
